@import url("https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    top: 0;
}
.container {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 1rem;
    width: 380px;
}
img {
    border-radius: 15px;
    width: 100%;
}
.maintext {
    padding: 1rem 0rem;
    text-align: center;
}
.maintext h1 {
    font-weight: 700;
    font-size: 1.8em;
}
.maintext p {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 1.4em;
}

/* # Front-end Style Guide
## Layout
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px
## Colors
- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)
## Typography
### Body Copy
- Font size (paragraph): 15px
### Font
- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700 */