@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
* {
	box-sizing: border-box;
}
body {
    background-color: hsl(233, 47%, 7%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0;
    top: 0;
    min-height: 100vh;
}
.container {
    display: flex;
    flex-direction: row-reverse;
    background-color: hsl(244, 38%, 16%);
    width: 76%;
}
.data {
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-between;
}
.maintext {
    width: 50%;
}
.maintext h1 {
    color:hsl(0, 0%, 100%);
    font-weight: 700;
}
p {
    color: hsla(0, 0%, 100%, 0.75);
}
.insights {
    color: hsl(277, 64%, 61%);
}
.coteries {
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
}
.background .mobile {
    display: none;
}

/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Very dark blue (main background): hsl(233, 47%, 7%)
- Dark desaturated blue (card background): hsl(244, 38%, 16%)
- Soft violet (accent): hsl(277, 64%, 61%)

### Neutral

- White (main heading, stats): hsl(0, 0%, 100%)
- Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400 */