@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
:root {
  --dark-gray: hsl(303, 10%, 53%);
  --light-gray: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  --magenta: hsl(300, 43%, 22%);
  --pink: hsl(333, 80%, 67%);
  --font-family:"League Spartan", sans-serif;
  --font-size : 15px;
}
* {
    box-sizing: border-box;
    margin: 0;
    top: 0%;
}
body {
    background-image: url(./images/bg-pattern-top-desktop.svg);
    background-image: url(./images/bg-pattern-bottom-desktop.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-size: var(--font-size);
    min-height: 100vh;
    padding: 8rem 10rem;
}
.container {
    display: flex;
    flex-direction: column;
}
.top {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.maintext {
    width: 80%;
}
.maintext h1 {
    color: var(--magenta);
    font-size: 3.5em;
    font-weight: 7  00;
}
.subtext {
    color: var(--dark-gray);
    font-size: 1.2em;
    font-weight: 400;
    line-height: 25px;
    margin-top: 20px;
}
.ratings {
    display: flex;
    flex-direction: column;
}
.ratings p{
    color: var(--magenta);
    font-size: 1.1;
    font-weight: 700;
    margin-left: 2rem;
}
.star {
    letter-spacing: 2px;
}
.star-1,
.star-2,
.star-3 {
    align-items: center;
    background-color: var(--light-gray);
    border-radius: 10px;
    display: flex;
    margin-top: 1rem;
    padding: 1rem 2rem;
}
.star-1 {
    margin-right: 7.9rem;
}
.star-2 {
    margin-left: 4rem;
    margin-right: 4rem;
}
.star-3 {
    margin-left: 7.9rem;
}
.bottom {
    display: grid;
    gap: 1.4rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5rem;
}
.flexbox {
    align-items: center;
    display: flex;
    flex-direction: row;
}
.customer {
    background-color: var(--magenta);
    border-radius: 8px;
    color: var(--white);
    padding: 2.5rem 1.8rem;
}
.customer h2 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.4rem;
}
.customer .quote {
    font-size: 1.1rem;
    line-height: 1.3rem;
    margin-top: 1rem;
    opacity: 0.8;
}
.flexbox img {
    border-radius: 50%;
    margin-right: 1rem;
    width: 2rem;
}
.flexbox span {
    color: var(--pink);
    font-size: 1.1rem;
}
.one {
    margin-bottom: 2rem;
}
.two {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.three {
    margin-top: 2rem;
}